
importFrom("utils", "packageVersion", "download.file")
importFrom("graphics", "par")


importFrom("dplyr", "left_join")
importFrom("dplyr", "distinct")
importFrom("graphics", "plot")

#importFrom("sf", "read_sf", "st_buffer", "st_transform", "st_geometry", "st_crs", "st_as_sf")

import("tmap", "ggplot2", "cartography", "sf", "s2",
       "rgdal", "stats", "leaflet", "tmaptools", "viridisLite", "htmltools", "leafpop")

#import("jsonlite", "geojsonio")

importFrom("grid", "viewport")
importFrom("httr", "GET", "http_error")
importFrom("curl", "has_internet")
importFrom("leafsync", "sync")
importFrom("mapview", "mapview")
importFrom("stringr", "str_length")
importFrom("stringi", "stri_trans_tolower")
importFrom("utils", "write.csv")
importFrom("jsonlite","toJSON")
importFrom("geojsonio","geojson_write")


import("leaflet")

export("mapPalette")
export("saveObj")

export("mapping")
export("mappingIT","mappingEU", "mappingWR", "mappingUS", "mappingUK")
#export("mappingIT_interactive","mappingEU_interactive", "mappingWR_interactive", "mappingUS_interactive", "mapping_interactive")

export("loadCoordIT", "loadCoordEU", "loadCoordWR", "loadCoordUS", "loadCoordUK", "loadCoordDE")
export("checkNamesIT", "checkNamesEU", "checkNamesWR", "checkNamesUS", "checkNamesUK", "checkNamesDE")
export("IT", "EU", "WR", "US", "UK", "DE")

export("getNamesIT", "getNamesEU", "getNamesWR", "getNamesUS", "getNamesUK", "getNamesDE")

export("mapping.options", "mapping.options.reset")
